@charset "utf-8";
html,body,h1,h2,h3,h4,h5,h6,div,ul,li,ol,dl,dd,dt,a,table,tr,td,p,strong,b,i,span,form,input{margin:0;padding:0;}
body{color:#666;height: 5000px; font:12px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;}
ul{list-style:none;}
a{text-decoration:none;color:#666;}
.clearfix:after{content:"";display:block;clear:both;}
input {outline: none;}
.fl{float: left;}
.fr{float: right;}
.pos-r{position: relative;}
.pos-a{position: absolute;}


.w1200-ma {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
.mt-5 {
	margin-top: 5px;
}
.mr-5 {
	margin-right: 5px;
}
.mt-10 {
	margin-top: 10px;
}

.ptb-10 {
	padding-top: 10px;
	padding-bottom: 10px;
}